<html><head>
    <title>Tic Tac Toe</title>
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="node_modules/skeleton-css/css/skeleton.css">
    <link rel="stylesheet" type="text/css" href="bootstrap.css">
        <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container">
            <div class="navbar-header">
                <a href="/" class="navbar-brand"><strong>GamingHub</strong></s></a>
            </div>   
        </div>
        
    </nav>
    <div class="container">
        <div class="menu">
            <h1>Tic - Tac - Toe</h1>
            <h3>How To Play</h3>
            <ol>
                <li>Player 1 Create a new game by entering the username</li>
                <li>Player 2 Enter another username and the room id that is displayed on first window.</li>
                <li>Click on join game. </li>
            </ol>
            <h4>Create a new Game</h4>
            <form method="POST" action="newgame">
                <input type="text" name="name" id="nameNew" placeholder="Enter your name" required>
                <input type="submit" value="New Game"/>
            </form>
            <br><br>
            <h4>Join an existing game</h4>
            <form method="POST" action="joingame">
                <input type="text" name="name" id="nameJoin" placeholder="Enter your name" required>
                <input type="text" name="room" id="room" placeholder="Enter Game ID" required="">
                <input type="submit" id="join">Join Game</input>
            </form>
        </div>
    </div>
</body>
</html>