<!DOCTYPE html>
<html>
    <meta charset="utf-8">
    <head>
        <title>GamingHub</title>
        <link rel="stylesheet" type="text/css" href="bootstrap.css">
        <link rel="stylesheet" type="text/css" href="style.css">

    </head>
    <body>
        <nav class="navbar navbar-dark bg-dark">
            <div class="container">
                <div class="navbar-header">
                    <a href="#" class="navbar-brand"><strong>GamingHub</strong></s></a>
                </div>   
                    
            </div>
            
        </nav>
            <div class="container">
                <div class="jumbotron">
                    <center><h1 style="font-family: Verdana, Geneva, Tahoma, sans-serif;"><b>Welcome to GamingHub</b></h1></center>
                    <center><p>Click on any of the game below to start playing! Enjoy your visit here :) </p></center>
                </div>
            </div>
            <div class="first">
                <div class="album py-5 bg-light " style="padding-left: 40%;">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="card mb-4 shadow-sm">
                                        <img src="images (1).jfif" class="card-img-top">
                                    <div class="card-body">
                                        <p class="card-text">
                                            About Sudoku
                                        </p>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="btn-group">
                                                <a href="sudoku" role="button" class="btn btn-primary btn-lg active" aria-pressed="True">
                                                    Play game
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>

<div class="first">
<div class="album py-5 bg-light " style="padding-left: 40%;">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                        <img src="images (1).jfif" class="card-img-top">
                    <div class="card-body">
                        <p class="card-text">
                            About Sudoku
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="tictactoe" role="button" class="btn btn-primary btn-lg active" aria-pressed="True">
                                    Play game
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
       
    
    </body>

</html>